amqp
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
async-lru
attrs
Automat
Babel
backcall
beautifulsoup4
billiard
bleach
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
comm
constantly
cryptography
cssselect
debugpy
decorator
defusedxml
Django
django-allauth
django-cors-headers
django-crispy-forms
django-debug-toolbar
django-filter
django-simple-history
djangorestframework
djangorestframework-simplejwt
docopt
et-xmlfile
executing
Faker
fastjsonschema
filelock
fqdn
h11
httpcore
httpx
hyperlink
idna
incremental
ipykernel
ipython
isoduration
itemadapter
itemloaders
jedi
Jinja2
jmespath
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyter-events
jupyter-lsp
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
kombu
lxml
MarkupSafe
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook_shim
numpy
oauthlib
openpyxl
overrides
packaging
pandas
pandocfilters
parsel
parso
pexpect
pickleshare
pillow
pip
pipreqs
platformdirs
prometheus-client
prompt-toolkit
Protego
psutil
ptyprocess
pure-eval
pyarrow
pyasn1
pyasn1-modules
pycparser
PyDispatcher
Pygments
PyJWT
pyOpenSSL
python-dateutil
python-json-logger
python3-openid
pytz
PyYAML
pyzmq
queuelib
redis
referencing
requests
requests-file
requests-oauthlib
rfc3339-validator
rfc3986-validator
rpds-py
Scrapy
Send2Trash
service-identity
setuptools
six
sniffio
soupsieve
sqlparse
stack-data
terminado
tinycss2
tldextract
tornado
traitlets
Twisted
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
vine
w3lib
wcwidth
webcolors
webencodings
websocket-client
yarg
zope.interface
