
   {% extends 'base.html' %} 
   {% block content %} 

<div class="container mt-5">
    <h1>{% if clickevent %}Edit ClickEvent{% else %}Create ClickEvent{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'clickevent-list' %}" class="btn btn-secondary">Cancel</a>
    </form>
    <a href="{% url 'clickevent-create' %}">Add ClickEvent</a>  {# Assuming you have a URL named 'clickevent-create' #}
</div>
{% endblock %} 

