
   {% extends 'base.html' %} 
   {% block content %} 

<div class="container mt-5">
    <h1>{% if pageview %}Edit PageView{% else %}Create PageView{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'pageview-list' %}" class="btn btn-secondary">Cancel</a>
    </form>
    <a href="{% url 'pageview-create' %}">Add PageView</a>  {# Assuming you have a URL named 'pageview-create' #}
</div>
{% endblock %} 

