
   {% extends 'base.html' %} 
   {% block content %} 

<div class="container mt-5">
    <h1>{% if userdevice %}Edit UserDevice{% else %}Create UserDevice{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'userdevice-list' %}" class="btn btn-secondary">Cancel</a>
    </form>
    <a href="{% url 'userdevice-create' %}">Add UserDevice</a>  {# Assuming you have a URL named 'userdevice-create' #}
</div>
{% endblock %} 

