
   {% extends 'base.html' %} 
   {% block content %} 

<div class="container mt-5">
    <h1>{% if customeruserprofileb2c %}Edit CustomerUserProfileB2C{% else %}Create CustomerUserProfileB2C{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'customeruserprofileb2c-list' %}" class="btn btn-secondary">Cancel</a>
    </form>
    <a href="{% url 'customeruserprofileb2c-create' %}">Add CustomerUserProfileB2C</a>  {# Assuming you have a URL named 'customeruserprofileb2c-create' #}
</div>
{% endblock %} 

