
   {% extends 'base.html' %} 
   {% block content %} 

<div class="container mt-5">
    <h1>{% if inventorymovement %}Edit InventoryMovement{% else %}Create InventoryMovement{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'inventorymovement-list' %}" class="btn btn-secondary">Cancel</a>
    </form>
    <a href="{% url 'inventorymovement-create' %}">Add InventoryMovement</a>  {# Assuming you have a URL named 'inventorymovement-create' #}
</div>
{% endblock %} 

