
    
{% extends 'base.html' %} 
{% block content %} 

<div class="container mt-5">
    <h1>ProductHistory Details</h1>
    <table class="table table-bordered">
        <tbody>
        
            <tr>
                <th>{model_name} {i_name}</th>
                <td>{{{{ {model_name.lower()}.{i} }}}}</td>
            </tr>
            
            <tr>
                <th>{model_name} {i_name}</th>
                <td>{{{{ {model_name.lower()}.{i} }}}}</td>
            </tr>
            
            <tr>
                <th>{model_name} {i_name}</th>
                <td>{{{{ {model_name.lower()}.{i} }}}}</td>
            </tr>
            
            <tr>
                <th>{model_name} {i_name}</th>
                <td>{{{{ {model_name.lower()}.{i} }}}}</td>
            </tr>
            
            <tr>
                <th>{model_name} {i_name}</th>
                <td>{{{{ {model_name.lower()}.{i} }}}}</td>
            </tr>
            
            <tr>
                <th>{model_name} {i_name}</th>
                <td>{{{{ {model_name.lower()}.{i} }}}}</td>
            </tr>
            
        </tbody>
    </table>

    <!-- Update and Delete Buttons -->
    <div class="mt-3">
        <a href="{% url 'producthistory-update' producthistory.pk %}" class="btn btn-primary">Edit ProductHistory</a>
        <a href="{% url 'producthistory-delete' producthistory.pk %}" class="btn btn-danger">Delete ProductHistory</a>
    </div>

